@using Lun2Code.Contest
@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/contests.css?Version=49"/>
</head>

<table class="flat-table">
    
    <tbody>
    
    <tr>
            <th>StartTime</th>
            <th>CloseTime</th>
            <th>EventName</th>
            <th>EventURL</th>
            <th>Platform</th></tr>
    
    @{
        List<Contest> contests = Model;

        foreach (var contest in contests)
        {
            <tr>
                <td>@contest.StartTime</td>
                <td>@contest.CloseTime</td>
                <td>@contest.EventName</td>
                <td><a href="@contest.EventUrl">Link</a></td>
                <td><a href="@contest.PlatformUrl">Codeforces</a></td>
            </tr>
        }
    }
    </tbody>
</table>